
/* .container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 150vh;
    background-color: #f1f1f1;
} */
.recent-payments{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.content .recent-payments table tr td:nth-child(1){
    text-align: center;
}


.content .recent-payments table tr td:nth-child(2){
    text-align: center;
}

.content .recent-payments table tr td:nth-child(3){
    text-align: center;
}

.content .recent-payments table tr td:nth-child(4){
    text-align: center;
}

.content .recent-payments table tr td:nth-child(5){
    text-align: center;
}

.content .recent-payments table tr td:nth-child(6){
    text-align: center;
}

.content .recent-payments table tr td:nth-child(7){
    text-align: center;
}

.content .recent-payments table tr td:nth-child(8){
    text-align: center;
}

.content .recent-payments table tr td:nth-child(9){
    text-align: center;
}


.container .content .cards-1 {
    padding: 20px 15px;
}

img.profile {
    width: 35px;
    height: 25px;
    padding: 0 10px 0 0;
    align-items: center;
    justify-content: center;
}

.tel-phone {
    color: #101aef;
    opacity: 0.8;
}

.tel-phone:hover {
    opacity: 1;
}

img.profile-1 {
    width: 90px;
    height: 120px;
    padding: 0 10px 0 0;
    align-items: center;
    justify-content: center;
}

.discount {
    font-weight: bolder;
}

.discount:hover {
    opacity: 1;
    color: #101aef;
}